<div class="row"> 
  <div class="col text-center mt-3" >
      Filtrar por nombre:
      <input type="text" class="form-control position-relative"  placeholder="Introduce el nombre de la asignatura" #inputNombre>
  </div>
  <div class="col text-center mt-3">
      Filtrar por ciclo:
      <input type="text" class="form-control" placeholder="Selecciona un ciclo" #inputCiclo >
  </div>
  
  <button type="button" class="btn btn-dark mt-3" (click)="buscarAsignatura(inputNombre.value,inputCiclo.value)">Filtrar</button>
</div>
<br>
<h2>Los resultados de búsqueda son:</h2>
<div class="alert alert-dark" role="alert">
  El número de asignaturas que cumplen el filtro es de : {{asigBusquedas.length}}
</div>
<div class="row">
<div [ngSwitch]="asigBusquedas.length">
  <div *ngSwitchCase="0">
    <div class="alert alert-secondary" role="alert">
     No hay asignaturas
    </div>
  </div>
  <div *ngSwitchDefault>     
    <div class="row">
    <div class="col" *ngFor="let item of asigBusquedas">
      <app-asignatura [asignatura]="item"></app-asignatura>
    </div>
    </div>
  </div>
</div>

</div>
